@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #0369a1;
  height: 100vh;
}

.currentweather {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.city {
  font-size: large;
}

.time {
  font-size: small;
  text-shadow: 1px 1px rgb(66, 66, 66);
  color: rgb(66, 66, 66);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#weathertype {
  text-transform: capitalize;
}

.temp {
  font-size: 32px;
  font-weight: bold;
}

.searchbar {
  background-color: white;
  background-image: url("search.svg");
  background-position: 5px 0px;
  background-repeat: no-repeat;
  padding-left: 25px;
  transition: width 0.4s ease-in-out;
  width: 5em;
}

.searchbar:focus {
  width: 90%;
}

img {
  height: 200px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  background-color: #0ea5e9;
  border: 2px #0284c7 solid;
  box-shadow: 1px 1px 2px 2px #0285c769;
  border-radius: 1em;
  padding: 1em;
}
